<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>フィード</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
  <h1>Insta Clone</h1>
  <p>
    This is the top page.
  </p>
   <%= link_to 'facebookログイン', '/auth/facebook', class: "btn btn-lg btn-primary"  %>
  </div>
<% end %>