<li id="comment-<%= comment.id %>">
  <%= link_to gravatar_for(comment.user, size: 50), comment.user %>
  <span class="user"><%= link_to comment.user.name, comment.user %></span>
  <span class="content">
    <%= comment.content %>
  </span>
  <span class="timestamp">
    <%= time_ago_in_words(comment.created_at) %>前
    <% if current_user?(comment.user) %>
      <%= link_to "消去", post_comment_path(comment), method: :delete,
                                       data: { confirm: "消去しますか？" } %>
    <% end %>
  </span>
</li>