<li>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "消去", user, method: :delete,
                                  data: { confirm: "消去しますか？" } %>
  <% end %>
</li>