<% provide(:title, 'パスワード変更') %>
<h1>パスワード変更</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, url: password_path(params[:id])) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      
      <%= f.label :new_password %>
      <%= f.password_field :new_password, class: 'form-control' %>

      <%= f.label :new_password_confirmation %>
      <%= f.password_field :new_password_confirmation, class: 'form-control' %>

      <%= f.submit "パスワード変更", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>