<% provide(:title, "プロフィール編集") %>
<h1>プロフィール編集</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <p>ーーーーーーーーーーーーーーー公開情報ーーーーーーーーーーーーーーーーーー</p>
      <%= f.label :name %>【必須】
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :user_name %>【必須】
      <%= f.text_field :user_name, class: 'form-control' %>

      <%= f.label :website %>
      <%= f.text_field :website, class: 'form-control' %>

      <%= f.label :introduce %>
      <%= f.text_area :introduce, :size=>"60x10", class: 'form-control' %>
      <p>ーーーーーーーーーーーーーーー非公開情報ーーーーーーーーーーーーーーーーー</p>
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :phone_number %>
      <%= f.text_field :phone_number, class: 'form-control' %>

      <div class="form-group row">
        <div class="col-sm-2">
          <%= f.label :gender, {class: 'form-label'} %>
        </div>
        <div class="col-sm-10 btn-group" data-toggle="buttons">
          <label class="btn btn-outline-secondary active" style="width:50%">
            <%= f.radio_button :gender, 0, {checked: true} %> 男性
          </label>
          <label class="btn btn-outline-secondary" style="width:50%">
            <%= f.radio_button :gender, 1, {} %> 女性
          </label>
        </div>
      </div>
      
      <%= f.submit "保存", class: "btn btn-primary" %>
    <% end %>
    <p>ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー</p>
    <div class="right">
      <label>|<%= link_to "アカウント消去", resign_path(@user), method: :delete,data: { confirm: "消去しますか？" }%></label>
      <label>|<%= link_to "パスワード変更", edit_password_path(@user) %></label>
      <label><%= link_to "プロフィール写真変更", "http://gravatar.com/emails", target: "_blank" %></label>
    </div>
    <%= gravatar_for @user %>
    <p>ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー</p>
  </div>
</div>