<% provide(:title, '新規登録') %>
<h1>新規登録</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, url: signup_path) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
      <%= f.hidden_field :provider, :value => session[:provider] %>
      <%= f.hidden_field :uid, :value => session[:uid] %>
      
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :user_name %>
      <%= f.text_field :user_name, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      
      <div class="checkbox">
        <label>
          <%= f.check_box :agreement, as: :boolean, checked:false %>
          <%= link_to("利用規約", user_policy_path) %>に同意する
        </label>
      </div>
      
      <%= f.submit "登録する", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>