<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="show_info">
      <h1><%= gravatar_for @user %></h1>
      <div class= "name"><%= @user.name %></div>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <div class="introduce">
        <% if @user.introduce %>
          <h1>自己紹介</h1>
          <h1 class="text"><%= @user.introduce %></h1>
        <% else %>
          <h1 class="text">自己紹介文はまだありません</h1>
        <% end %>
      </div>
    </section>
    <%= link_to "プロフィール編集", edit_user_path(current_user) if @user == current_user%>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.posts.any? %>
      <h3>投稿数(<%= @user.posts.count %>)</h3>
      <ol class="posts">
        <% @posts.each do |post| %>
        <div id="grid", class="picture">
          <ul>
            <li id="post-<%= post.id %>">
                <%= link_to post do %>
                  <%= image_tag post.picture.url, width: "200", height: "200" if post.picture? %>
                <% end %>
            </li>
          </ul>
        </div>
        <% end %>
      </ol>
      <%= will_paginate @posts %>
    <% end %>
  </div>
</div>