<%= form_for [@post, @comment] do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "コメントを入力してください..." %>
  </div>
  <%= f.submit "コメントする", class: "btn btn-primary" %>
<% end %>