<div class = "gravatar">
  <%= link_to gravatar_for(current_user, size: 50), current_user %>
</div>
<h1><%= current_user.name %></h1>
<span><%= link_to "マイページ", current_user %></span>
<span>投稿数：<%= current_user.posts.count %></span>