<li id="post-<%= post.id %>">
  <%= link_to gravatar_for(post.user, size: 50), post.user %>
  <span class="user"><%= link_to post.user.name, post.user %></span>
  <span class="picture_title">
    <%= post.picture_title if post.picture_title %>
  </span>
  <span class="picture">
    <%= link_to post do %>
      <%= image_tag post.picture.url if post.picture? %>
    <% end %>
  </span>
  <span class="timestamp">
    <%= time_ago_in_words(post.created_at) %>前
    <% if !Favorite.exists?(user_id: current_user.id, post_id: post.id) %>
      <%= link_to "お気に入り登録", post_add_path(post), method: :post %>
    <% else %>
      <%= link_to "お気に入り解除", post_add_path(post), method: :delete %>
    <% end %>
  </span>
</li>