<% provide(:title, '画像アップロード') %>
<h1>画像アップロード</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@post, html: { multipart: true }) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="field">
        <%= f.label :picture_title %>
        <%= f.text_area :picture_title %>
      </div>
      <span class="picture">
        <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
      </span>
      <%= f.submit "アップロード", class: "btn btn-primary" %>
    <% end %>
    
    <script type="text/javascript">
      $('#post_picture').bind('change', function() {
        var size_in_megabytes = this.files[0].size/1024/1024;
        if (size_in_megabytes > 5) {
          alert('ファイルサイズを5MB以下にしてください');
        }
      });
</script>
  </div>
</div>