<% provide(:title, '検索') %>
<h1>検索</h1>

<%= form_tag(search_path,:method => 'get') do %>
  <%= text_field_tag :search %>
  <%= submit_tag '検索', :name => nil %>
<% end %>
  
<div class="posts">
  <%= render @posts%>
</div>