<% provide(:title, " 投稿写真") %>
<div class="row">
  <aside class="col-md-4">
    <section class="comment_form">
        <%= render 'shared/comment_form' %>
    </section>
  </aside>
  <div class="col-md-8 posts_show" >
    <section class="user_info">
      <h1><%= gravatar_for @user %></h1>
      <h1><%= @user.name %></h1>
    </section>
    <%= image_tag @post.picture.url, width: "400", height: "400" %>
    <div class="fovorite">
      <% if !Favorite.exists?(user_id: current_user.id, post_id: @post.id) && @post.user != current_user %>
        <%= link_to "お気に入り登録", post_add_path(@post), method: :post %>
      <% elsif @post.user != current_user %>
        <%= link_to "お気に入り解除", post_add_path(@post), method: :delete %>
      <% end %>
    </div>
    <% if @post.comments.any? %>
      <h3>コメント数(<%= @post.comments.count %>)</h3>
      <ol class="comments">
          <%= render @comments %>
      </ol>
      <%= will_paginate @comments %>
    <% end %>
  </div>
</div>