<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "sample app", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "トップ", root_path %></li>
        <% if logged_in? %>
          <li><%= link_to "ユーザー一覧", users_path %></li>
          <li><%= link_to "検索", search_path %></li>
          <li><%= link_to "通知（あり、なし）", '#' %></li>
          <li><%= link_to "マイページ", current_user %></li>
          <li><%= link_to "Log out", logout_path, method: :delete %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>